<header id="masthead" class="site-header" role="banner">
  <div class="site-title">


    <h1 class="site-logo"> <a href="{{@blog.url}}">
        <img src="{{@blog.logo}}" alt="{{@blog.title}} - {{@blog.description}}"></a></h1>
    <div class="site-logo">
     
    </div>
    <div class="site-desp">
      <h1>{{@blog.title}}</h1>
      {{@blog.description}}
    </div>
  </div>
  <nav class="menu">
    <div class="menu-wrap">
      <a href="/" class="menu-item menu-item--active">首页</a>
      <a href="/tag/zai-shou-xiao-mao/" class="menu-item">在售小猫</a>
      <a href="/tag/he-ying-zhao-pian" class="menu-item">合影照片</a>
      <a href="/tag/pang-zi-ba" class="menu-item">胖子爸</a>
      <a href="/tag/mei-duan-ma/" class="menu-item">美短妈</a>
      <a href="/tag/ying-duan-ma" class="menu-item">英短妈</a>
      <a href="/tag/yi-shou-chu" class="menu-item">已售出</a>
    </div>
  </nav>

</header>